	<%= form_for @event, html: { multipart: true }, :url => events_path do |f| %>

	    <%= render :partial => "form", :locals => { :f => f } %>

	    <%= f.submit "建立", :class => "btn btn-primary" %>
	    <%= link_to '返回', events_path, :class => "btn btn-primary" %>
	    
	<% end %>
</div>