body{
	//background-image: image-url("computer.jpg");
	background-color: rgb(0, 0, 0);
	font-family: 微軟正黑體;
}

.field{
	margin: 10px;
	background-color: white;
}

.container{
	padding: 25px;
	background-color: white;
}

#head{
	padding-top: 100px;
	margin: 5px;
	padding: 100px;
	//background-image: image-url("sun.jpg");
}

#main{
	min-height: 500px;
	margin: 5px;
}

#foot{
	background-color: rgb(51, 61, 101);
	color: #fff;
	padding: 30px;
	line-height: 1.8;
	margin: 15px 0px;
}