body{
  background-image: image-url("computer.jpg");
  background-color: rgb(0, 0, 0);
  font-family: 微軟正黑體;
}

.container{
  background-color: white;
}

#shop_head{
  margin: 15px;
  padding: 100px;
  background-image: image-url("sun.jpg");
}

#shop_main{
  min-height: 200px;
  margin: 15px;
}

#shop_foot{
 background-color: rgb(51, 61, 101);
 color: #fff;
 padding: 30px;
 line-height: 1.8;
 margin: 15px 0px;
}